executor {
    name = 'slurm'
    queueSize = 20
}

process {
	
	cpus = 1			// dafualt cpu usage
	memory = '20GB'	    // default memory
	time = '48:00:00'   // default time limit

    withLabel:  bam2fasta { cpus = 1 ; memory = 20.GB ; time = '10:00:00' ; module = 'samtools' }
    withLabel:  jellyfish { cpus = 1 ; memory = 50.GB ; time = '20:00:00';  module = 'jellyfish' }
    withLabel:  genomescope { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'genomescope' }
    withLabel:  assembly { cpus = 4 ; memory = '200GB' ; time = '48:00:00' ; module = 'ipa'  }
    withLabel:  evaluate_assemblies { cpus = 1 ; memory = '20GB' ; time = '20:00:00' ; module = 'quast' }
    withLabel:  assemblies_completeness { cpus = 1 ; memory = '60GB' ; time = '10:00:00' ; module = 'python/3.6.6:blast/2.10.0:hmmer/3.2.1:busco/3.0.2:boost/1.67.0:augustus/3.3.2' }
}

params.busco_lineage_dir = "/Databases/Database/busco/"