


executor {
    name = 'pbspro'
}



process {
    beforeScript = 'module load singularity'
    queue = 'normal'  
    project = params.project_id
    storage = params.storage_paths
    cpus = 1			// dafualt cpu usage
    memory = '20GB'	    // default memory
    time = '48:00:00'   // default time limit
    ext.singularity_pull_docker_container = true  
    //withLabel:  bam2fasta { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'samtools' }
    //withLabel:  HiFiAdapterFilt { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'HiFiAdapterFilt' }
    //withLabel:  jellyfish { cpus = 1 ; memory = '80GB' ; time = '24:00:00';  module = 'jellyfish'  }
    //withLabel:  genomescope { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'genomescope2' }
    //withLabel:  assembly { cpus = 4 ; memory = '150GB' ; time = '48:00:00' ; module = 'ipa/1.5.0' }
    //withLabel:  evaluate_assemblies { cpus = 1 ; memory = '20GB' ; time = '24:00:00' ; module = 'quast' }
    //withLabel:  assemblies_completeness { cpus = 4 ; memory = '80GB' ; time = '48:00:00' ; module = 'busco/5.4.0' }
}


params.busco_lineage_dir = "/g/data/if89/data_library/busco_db/14082023/"



